@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .container {
    height: 1350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 1000px;
    background-color: rgba(215, 215, 215, 255);
} */

.parent {
    width: 960px;
    height: 1460px;
    background-color: white;
    box-shadow: 0 20px 50px rgb(114, 114, 114);
}

div.top {
    display: flex;
    align-items: center;
    padding: 3em 3em 0 3em;
}

.area {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fecb00;
    padding: 2em 8em 2em 2.5em;
}

.area>i {
    font-size: 1.5em;

}

.info {
    display: flex;
    gap: 7em;
    padding: 0 0 0 3em;
}

.bold {
    font-weight: bold;
}

span>p:nth-child(2) {
    font-size: 0.7em;
}

.about {
    display: flex;
    background-color: #22212f;
    align-items: center;
    height: 310px;
    position: relative;


}

.about img {
    padding: 0 3em 0 3em;
    width: 409.5px;
    height: 310px;
    position: relative;
    top: 2px;
    filter: grayscale(100%);

}

.about .about_info {
    color: white;
}

.about .about_info>h1 {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #b6a135;
    width: 5.5em;
    margin-bottom: .4em;
    line-height: 40px;
    padding-bottom: 5px;
}

.about .about_info>h1>span:nth-child(1) {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 1.3em;
    
}

.about .about_info>h1>span:nth-child(2) {
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
}

.about .about_info>h3 {
    margin-bottom: 1em;
    font-weight: lighter;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;

}

.about .about_info>p {
    padding: 0 3em 0 0;
    text-align: justify;
    font-weight: lighter;
    /* font-family: ; */
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}

.imgbg {
    position: absolute;
    width: 313.5px;
    height: 310px;
    background-color: #ddb10058;
    left: 3em;
    top: 0em;
}

.main {
    display: flex;
    padding: 0em 0 3em 1.5em;
}

.main .left {
    background-color: #fecb00;
    padding: 2em 0em 7.5em 2.89em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main .right {
    padding: 2em 0 0 3em;

}

.left .education {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left .education>h1 {
    border-bottom: 2px solid #d2a606;
    padding: 0em 3.3em .5em 0;
    color: rgb(53, 53, 53);
}

.left .education>div>h3 {
    margin-bottom: .5em;
    color: rgb(75, 75, 75);
}

.left .education>div>p {
    color: rgb(75, 75, 75);
}

.left .hobbies {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left .hobbies>h1 {
    border-bottom: 2px solid #d2a606;
    padding: 1em 3.3em .5em 0;
    color: rgb(53, 53, 53);
}

.left .hobbies>div {
    display: flex;
    justify-content: space-between;
    padding: 0 2em 0 0;
}

.left .hobbies>div>span {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    align-items: center;
    font-size: 1.1em;
}

.left .hobbies>div>span>span {
    border: 2px solid rgb(75, 75, 75);
    border-radius: 50%;
    padding: 5px 7px;
}

.left .social_media {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left .social_media>h1 {
    border-bottom: 2px solid #d2a606;
    padding: 1em 0em .5em 0;
    color: rgb(53, 53, 53);
}

.left .social_media>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left .social_media>div>span>a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.left .social_media>div>span>a>span {
    border: 2px solid rgb(53, 53, 53);
    padding: 5px 5px 2px 5px;
    border-radius: 50%;

}

.left .social_media>div>span:nth-child(1) a:hover {
    color: green; 
}

.left .social_media>div>span:nth-child(1) a:hover>span {
    border: 2px solid green;
}
.left .social_media>div>span:nth-child(2) a:hover {
    color: blue; 
}

.left .social_media>div>span:nth-child(3) a:hover>span {
    border: 2px solid red;
}
.left .social_media>div>span:nth-child(3) a:hover {
    color: red; 
}
.left .social_media>div>span:nth-child(4) a:hover>span {
    border: 2px solid black;
}
.left .social_media>div>span:nth-child(4) a:hover {
    color: black; 
}

.left .social_media>div>span:nth-child(2) a:hover>span {
    border: 2px solid blue;
}

.right {
    width: 100%;
    padding: 0;
}

.right .project {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.right .project>h1 {
    border-bottom: 2px solid rgb(188, 187, 187);
    padding: 0 3.3em .5em 0;
    width: 100%;
    color: rgb(53, 53, 53);
}

.right .project>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2em;
}

.right .project>div a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    transition: .3s;
}

.right .project>div a:hover {
    color: rgb(8, 0, 255);
}

.right .certificate {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.right .certificate>h1 {
    border-bottom: 2px solid rgb(188, 187, 187);
    padding: 0 3.3em .5em 0;
    width: 100%;
    color: rgb(53, 53, 53);
}

.right .certificate>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}
.right .certificate>div>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.right .certificate>div>div>p {
    color: rgb(87, 87, 87);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.right .certificate>div>div>p> span {
    background-color: black;
    color: white;
    width: 11em;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}



.right .skills>h1 {
    border-bottom: 2px solid rgb(188, 187, 187);
    padding: 0 3.3em .5em 0;
    width: 100%;
    color: rgb(53, 53, 53);
    margin-bottom: .5em;
}

.right .skills>div {
    display: flex;
    gap: 1.5em;
}
.right .skills>div:nth-child(2) {
    margin-bottom: 1.5em;
}

/* Skills */
.ui-widgets,
.ui-widgets_2 {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 9rem;
    border: .7em solid palegreen;
    border-left-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(4, 4, 4);
    text-align: center;
    box-sizing: border-box;
}
.ui-widgets_2 {
    border-left-color: rgb(227, 224, 224);
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(227, 224, 224);
}

.ui-widgets:nth-child(2),
.ui-widgets:nth-child(4),
.ui-widgets:nth-child(5),
.ui-widgets_2:nth-child(2),
.ui-widgets_2:nth-child(4),
.ui-widgets_2:nth-child(5) {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(227, 224, 224);
    border-left-color: rgb(0, 0, 0);
    border-bottom-color: rgb(227, 224, 224);
}

.ui-widgets:nth-child(3) {
    border-top-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(24, 24, 24);
    border-bottom-color: rgb(227, 224, 224);
}
.ui-widgets_2:nth-child(3) {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-left-color: rgb(227, 224, 224);
    border-bottom-color: rgb(227, 224, 224);
}
.ui-widgets_2:nth-child(5) {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(227, 224, 224);
    border-left-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}
.skills>div>div:nth-child(1)>.ui-values,
.skills>div>div:nth-child(2)>.ui-values {
    font-size: 12px;
    top: 20px;
    position: absolute;
    left: 0px;
    right: 0;
    font-weight: 700;
}

.skills>div>div:nth-child(3)>.ui-values,
.skills>div>div:nth-child(4)>.ui-values,
.skills>div>div:nth-child(5)>.ui-values {
    font-size: 12px;
    top: 20px;
    position: absolute;
    left: 0px;
    right: 0;
    font-weight: 700;
}

/* @media (max-width:410px) {
    body {
        height: 150px;
    }
} */